@model Lab4.Models.ViewModels.CommunityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title <!--model casuing issues just plain html now-->
            </th>
            <th>
                Budget <!--model casuing issues just plain html now-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Communities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> | <!--new option added-->
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-->added if to get Select option working
      Source code from Index.cshtml.cshtml-->
@if (Model.CommunityMemberships != null)
{
    <h3>
        Members of the Community:
    </h3>
    <table class="table">
        <tr>
            @if (Model.CommunityMemberships.Count() > 0)
            {
                <th> Name </th>
 }
            else
            {
                <th> No students in this community.</th>
}
        </tr>
        @foreach (var item in Model.CommunityMemberships.Select(i => i.Student))
        {
            <tr>
                <td>
                    @item.FullName
                </td>
            </tr>
        }
    </table>
}